In [49]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [50]:
df=pd.read_csv('Crop_recommendation.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [51]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [52]:
def season_classify(temp):
  if temp>=0 and temp<20:
    return 'Winter'
  elif temp>=20 and temp<27:
    return 'Rainy'
  else:
    return 'Summer'

In [53]:
df['season']=df['temperature'].apply(season_classify)
df.head()

    N   P   K  temperature   humidity        ph    rainfall label season
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice  Rainy
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice  Rainy
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice  Rainy
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice  Rainy
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice  Rainy

In [54]:
df['season'].value_counts()

season
Rainy     1070
Summer     839
Winter     291
Name: count, dtype: int64

In [55]:
df.drop('temperature',axis=1,inplace=True)
df.head()

    N   P   K   humidity        ph    rainfall label season
0  90  42  43  82.002744  6.502985  202.935536  rice  Rainy
1  85  58  41  80.319644  7.038096  226.655537  rice  Rainy
2  60  55  44  82.320763  7.840207  263.964248  rice  Rainy
3  74  35  40  80.158363  6.980401  242.864034  rice  Rainy
4  78  42  42  81.604873  7.628473  262.717340  rice  Rainy

In [56]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_season=OneHotEncoder()
season_encoder=onehot_encoder_season.fit_transform(df[['season']])
season_encoder

<2200x3 sparse matrix of type '<class 'numpy.float64'>'
	with 2200 stored elements in Compressed Sparse Row format>

In [57]:
season_encoder_df=pd.DataFrame(season_encoder.toarray(),columns=onehot_encoder_season.get_feature_names_out(['season']))
season_encoder_df

      season_Rainy  season_Summer  season_Winter
0              1.0            0.0            0.0
1              1.0            0.0            0.0
2              1.0            0.0            0.0
3              1.0            0.0            0.0
4              1.0            0.0            0.0
...            ...            ...            ...
2195           1.0            0.0            0.0
2196           0.0            1.0            0.0
2197           1.0            0.0            0.0
2198           1.0            0.0            0.0
2199           1.0            0.0            0.0

[2200 rows x 3 columns]

In [58]:
df=pd.concat([df.drop('season',axis=1),season_encoder_df],axis=1)
df.head()

,N,P,K,humidity,ph,rainfall,label,season_Rainy,season_Summer,season_Winter
0,90,42,43,82.002744,6.502985,202.935536,rice,1.0,0.0,0.0
1,85,58,41,80.319644,7.038096,226.655537,rice,1.0,0.0,0.0
2,60,55,44,82.320763,7.840207,263.964248,rice,1.0,0.0,0.0
3,74,35,40,80.158363,6.980401,242.864034,rice,1.0,0.0,0.0
4,78,42,42,81.604873,7.628473,262.717340,rice,1.0,0.0,0.0

In [59]:
df.drop('season',axis=1,inplace=True)
df.head()

KeyError: "['season'] not found in axis"

In [60]:
df['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [61]:
len(df['label'].unique())

22

In [62]:
import pickle
with open('onehot_encoded_season.pkl','wb') as f:
  pickle.dump(onehot_encoder_season,f)

In [63]:
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named df and the target column is 'label'
label_encoder = LabelEncoder()

# Apply Label Encoding to the 'label' column
df['label_encoded'] = label_encoder.fit_transform(df['label'])

# View the mapping of labels to integers
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
print("Label Mapping:")
print(label_mapping)

# Display the updated DataFrame
print(df.head())

Label Mapping:
{'apple': 0, 'banana': 1, 'blackgram': 2, 'chickpea': 3, 'coconut': 4, 'coffee': 5, 'cotton': 6, 'grapes': 7, 'jute': 8, 'kidneybeans': 9, 'lentil': 10, 'maize': 11, 'mango': 12, 'mothbeans': 13, 'mungbean': 14, 'muskmelon': 15, 'orange': 16, 'papaya': 17, 'pigeonpeas': 18, 'pomegranate': 19, 'rice': 20, 'watermelon': 21}
    N   P   K   humidity        ph    rainfall label  season_Rainy  \
0  90  42  43  82.002744  6.502985  202.935536  rice           1.0
1  85  58  41  80.319644  7.038096  226.655537  rice           1.0
2  60  55  44  82.320763  7.840207  263.964248  rice           1.0
3  74  35  40  80.158363  6.980401  242.864034  rice           1.0
4  78  42  42  81.604873  7.628473  262.717340  rice           1.0

   season_Summer  season_Winter  label_encoded
0            0.0            0.0             20
1            0.0            0.0             20
2            0.0            0.0             20
3            0.0            0.0             20
4            0.0            0.0             20

In [64]:
df

,N,P,K,humidity,ph,rainfall,label,season_Rainy,season_Summer,season_Winter,label_encoded
0,90,42,43,82.002744,6.502985,202.935536,rice,1.0,0.0,0.0,20
1,85,58,41,80.319644,7.038096,226.655537,rice,1.0,0.0,0.0,20
2,60,55,44,82.320763,7.840207,263.964248,rice,1.0,0.0,0.0,20
3,74,35,40,80.158363,6.980401,242.864034,rice,1.0,0.0,0.0,20
4,78,42,42,81.604873,7.628473,262.717340,rice,1.0,0.0,0.0,20
...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,66.413269,6.780064,177.774507,coffee,1.0,0.0,0.0,5
2196,99,15,27,56.636362,6.086922,127.924610,coffee,0.0,1.0,0.0,5
2197,118,33,30,67.225123,6.362608,173.322839,coffee,1.0,0.0,0.0,5
2198,117,32,34,52.127394,6.758793,127.175293,coffee,1.0,0.0,0.0,5
2199,104,18,30,60.396475,6.779833,140.937041,coffee,1.0,0.0,0.0,5

In [65]:
import pickle
with open('label_encoder.pkl','wb') as f:
  pickle.dump(label_encoder,f)

In [66]:
df.drop('label',axis=1,inplace=True)
df.head()

,N,P,K,humidity,ph,rainfall,season_Rainy,season_Summer,season_Winter,label_encoded
0,90,42,43,82.002744,6.502985,202.935536,1.0,0.0,0.0,20
1,85,58,41,80.319644,7.038096,226.655537,1.0,0.0,0.0,20
2,60,55,44,82.320763,7.840207,263.964248,1.0,0.0,0.0,20
3,74,35,40,80.158363,6.980401,242.864034,1.0,0.0,0.0,20
4,78,42,42,81.604873,7.628473,262.717340,1.0,0.0,0.0,20

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X=df.drop('label_encoded',axis=1)
y=df['label_encoded']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [68]:
with open('scaler.pkl','wb') as file:
  pickle.dump(scaler,file)

In [69]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [70]:
model=Sequential([
    Dense(128,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(64,activation='relu'),
    Dense(32,activation='relu'),
    Dense(22,activation='softmax')
]
)

c:\Users\bhatt\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [71]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                 │ (None, 128)            │         1,280 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 22)             │           726 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 12,342 (48.21 KB)

 Trainable params: 12,342 (48.21 KB)

 Non-trainable params: 0 (0.00 B)

In [72]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.SparseCategoricalCrossentropy()
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [73]:
from tensorflow.keras.callbacks import EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [74]:
history=model.fit(X_train,y_train,epochs=100,validation_data=(X_test,y_test),callbacks=[early_stopping_callback])

Epoch 1/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.4138 - loss: 1.8589 - val_accuracy: 0.9023 - val_loss: 0.2104
Epoch 2/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9238 - loss: 0.2001 - val_accuracy: 0.9500 - val_loss: 0.1644
Epoch 3/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9488 - loss: 0.1396 - val_accuracy: 0.9477 - val_loss: 0.1965
Epoch 4/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9477 - loss: 0.1811 - val_accuracy: 0.9386 - val_loss: 0.1759
Epoch 5/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9522 - loss: 0.1354 - val_accuracy: 0.9614 - val_loss: 0.0988
Epoch 6/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9562 - loss: 0.1137 - val_accuracy: 0.9545 - val_loss: 0.1124
Epoch 7/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9563 - loss: 0.0912 - val_accuracy: 0.9818 - val_loss: 0.0447
Epoch 8/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9842 - loss: 0.0514 - val_accuracy: 0.9750 - val_loss: 0.0626
Epoch 9/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9686 - loss: 0.0666 - val_accuracy: 0.9864 - val_loss: 0.0395
Epoch 10/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9805 - loss: 0.0426 - val_accuracy: 0.9682 - val_loss: 0.1045
Epoch 11/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9732 - loss: 0.0747 - val_accuracy: 0.9455 - val_loss: 0.1448
Epoch 12/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9620 - loss: 0.1266 - val_accuracy: 0.9659 - val_loss: 0.1049
Epoch 13/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9707 - loss: 0.1078 - val_accuracy: 0.9750 - val_loss: 0.0901
Epoch 14/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9758 - loss: 0.0602 - val_accuracy: 0.9523 - val_loss: 0.1703
Epoch 15/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9716 - loss: 0.0664 - val_accuracy: 0.9682 - val_loss: 0.0767
Epoch 16/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9766 - loss: 0.0824 - val_accuracy: 0.9841 - val_loss: 0.0711
Epoch 17/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9607 - loss: 0.1423 - val_accuracy: 0.9636 - val_loss: 0.0904
Epoch 18/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9722 - loss: 0.0716 - val_accuracy: 0.9841 - val_loss: 0.0544
Epoch 19/100
55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9785 - loss: 0.0522 - val_accuracy: 0.9614 - val_loss: 0.2544

In [75]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.